nav {
  margin-bottom: 1rem;
}

h2 {
  display: inline-block;
  width: 100%;
  border-bottom: solid;
}

#imgSample {
  padding: 0.5rem;
  max-width: 75%;
}

div.step {
  margin: 1rem;
}
div.step img {
  margin: 1rem;
}

footer {
  margin: 1rem;
}
